/* General styles */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 auto;
  width: 750px;
}

/* Top bar styles (includes View high scores btn and timer */

header {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

#timer {
  color: palevioletred;
  font-size: 1.3rem;
}
/* View high scores modal styles */

#view-high-scores {
  color: palevioletred;
}

#view-high-scores:hover,
#clear-scores:hover,
#view-high-scores:focus,
#clear-scores:focus {
  color: rgb(199, 79, 119);
  cursor: pointer;
}

#scores-modal {
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#score-list {
  list-style-type: none;
}

#score-list li {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 30%;
}

#score-list li span {
  text-align: left;
}

#modal-content {
  background-color: black;
  border: 1px solid palevioletred;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 300px;
}

#modal-content h3 {
  padding-bottom: 30px;
  text-align: center;
}

#close-modal {
  color: palevioletred;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 5px;
}

#close-modal:hover {
  color: rgb(199, 79, 119);
  text-decoration: none;
  cursor: pointer;
}

#clear-scores {
  color: palevioletred;
  display: block;
  margin-top: 50px;
  text-align: center;
}

/* Main styles - where the quiz content appears */

main {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0 auto;
  text-align: center;
  width: 100%;
}

#quiz-content {
  display: flex;
  flex-direction: column;
}

#quiz-content h2 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.question {
  text-align: left;
}

button {
  background-color: palevioletred;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.12rem;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  transition: transform 0.2s linear;
}

button:hover {
  background-color: rgb(182, 77, 112);
  cursor: pointer;
  transform: scale(0.98);
}

.btn-center {
  margin-top: 25px;
  text-align: center;
}

/* Footer styles - where Correct/Incorrect feedback appears */

footer {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding-top: 20px;
}

footer.correct {
  color: green;
}

footer.incorrect {
  color: red;
}

#result-content {
  transition: transform 0.5s linear;
}

@media screen and (max-width: 760px) {
  body {
    width: 85vw;
  }
}
